body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

g {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

table, tr, td, th{
    padding: 6px 6px;
    line-height: 20px;
    border-spacing: 2px;
    border-collapse: collapse;
}

table.table-list{
    padding: 20px 3px;
    width: 960;
}

.table-documents{
    padding: 20px 3px;
    width: 960;
    line-height: 12px;
    font-size: 10px;
}

td.legend{
    font-size: 40;
}

.fheader{
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 12px;
    border-radius: 0px 25px 25px 0px;
}

.subfheader{
    font-weight: bold;
}

th{
    text-align: right;
    font-weight: bold;
    color: gray;
}

.label{
    text-align: right;
    font-weight: bold;
    color: gray;
}

.value{
    color: gray;
    padding-left: 12px;
}

.form-text{
    color: gray;
    font-weight: bold;
}

.response{
    padding-left: 12px;
}


.section{
    padding: 12px;
}

li.error-bullet{
    color:red
}

li.warning-bullet{
    color:goldenrod
}

.button-submit {
    color:white;
    background: #35909a;
    padding: 10;
    border: none;
    text-align: center;
    width: 140;
    /* border-radius: 25px; */
}

.scroll-horizontal{
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 1000px;
    max-height: 300px;
}

.scroll-vertical{
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 1000px;
    max-height: 300px;
}

.scroll-both{
    max-width: 1000px;
    max-height: 300px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.scroll-cluster{
    max-width: 1200px;
    max-height: 1200px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.svg-min-width{
    min-width: 1000;
}

input#id_file{
    color: gray;
    width: 300;
    font-weight: bold;
}

ul{
    list-style: none;
    font-weight: normal;
}

